doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(type="module" src="ui-kit.js")
    link(href=require("../main.scss") rel="stylesheet")
  body
    .test 
      p Hello World
